
@charset "ISO-8859-1";
  p {
            font-size: 30px;
            margin: 0;
            padding: 20px 10px;
        }
        
        .small-text {
            font-size: 15px;
            margin: 0;
            padding: 10px 10px;
        }
        
        .red-bg {
            background-color: red;
            color: white;
        }
        
        .green-bg {
            background-color: rgb(121, 207, 153);
            color: white;
        }
        
        .yellow-bg {
            background-color: yellow;
            color: black;	
        }
        
        .blue-bg {
            background-color: skyblue;
            color: black;
        }
        
        .last-paragraph {
            margin-top: 20px;
        }