@charset "ISO-8859-1";
 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .card {
            width: calc(33.33% - 20px);
            background-color: white;
            border-radius: 5px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: box-shadow 0.3s ease-in-out;
        }
        
        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        .card img {
            width: 100%;
            height: auto;
            display: block;
        }
        
        .card-title {
            font-size: 20px;
            text-align: center;
            margin: 10px 0;
            border-top: 1px solid #ccc;
            padding: 10px;
        }
        
        @media (max-width: 768px) {
            .card {
                width: calc(50% - 20px);
            }
        }