@charset "ISO-8859-1";


a:link, a:visited {
	margin: 5px;
	margin-top: 15px;
	border-radius: 10px;
	background-color: green;
	color: white;
	padding: 14px 25px;
  	text-align: right;
  	text-decoration: none;
  	display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}